<header>
  <h1>L'énergie quasi-infinie</h1>
  <section class="menu">
    <nav id="matières">
      <ul>
        <li class="menu_boutton">
          <a href="javascript:void(0)">Matières</a>
          <section class="menu_defil">
            <ul>
              <li><a href="index.html" class="actuel">Accueil</a></li>
              <li><a href="dyson_sphere.html">Sphère de Dyson</a></li>
              <li><a href="dyson_swarm.html">Essaim de Dyson</a></li>
              <li><a href="funny-moment.html">Funny moment</a></li>
            </ul>
          </section>
        </li>
        <li class="menu_boutton">
          <a href="javascript:void(0)">Sources</a>
          <section class="menu_defil">
            <ul>
              <li>
                <a href="https://fr.wikipedia.org/wiki/Sph%C3%A8re_de_Dyson"
                  >Wikipédia</a>
              </li>
              <li><a href="https://youtu.be/pP44EPBMb8A">Youtube</a></li>
            </ul>
          </section>
        </li>
      </ul>
    </nav>
  </section>
</header>
